<div class="experience-wrapper">
  <div class="logo" > <a href="#/index"> <img alt="#" src="images/logo.png"/> </a> </div>
  
  <div class="mobile-join-btn"> <a href="#/signup">JOIN</a></div>
  
  <div ng-include="'partials/experience_1.html'"></div>
 

	<div class="video-contain" ng-include="'partials/experience_2.html'""></div>
	
  
  
               
  <div class="tab-bottom-con">
  
    <div class="link2" ><a href="#">VIEW ROUTES</a></div> 


<div class="albums-div" ng-include="'partials/experience_3.html'"></div>


<div class="link1" ><a href="#">FORUMS</a></div>


<div class="albums-div">
	<a  href="#">
		<img alt="" src="images/hs1-0-02.jpg">
		<h2 data-original-title="">ALBUMS</h2>
	</a>
</div>


<div class="albums-div" ng-include="'partials/experience_4.html'"></div>



<div class="albums-div" style="padding:0; width:100%;" ng-include="'partials/experience_5.html'"></div>

<div class="banner2">
<ul class="rslides" id="banner2">
      <li><img src="images/1418591867.jpg" alt=""></li>
        <li><img src="images/1418611738.jpg" alt=""></li>
              <li><img src="images/1418591867.jpg" alt=""></li>
        <li><img src="images/1418611738.jpg" alt=""></li>
       
</ul>

</div>
<div style="clear:both;"></div>

<div class="banner3">
<ul class="rslides" id="banner3">
      <li><img src="images/1418594285.jpg" alt=""></li>
        <li><img src="images/1418611170.jpg" alt=""></li>
         <li><img src="images/1418594285.jpg" alt=""></li>
        <li><img src="images/1418611170.jpg" alt=""></li>
</ul>
</div>
<div style="clear:both;"></div>



  </div>
  
  
  
 <div class="footer-menu1">
<span>&copy;TORQK'D</span>
<span>|</span>
<span>
<a href="javascript:void(0);">TERMS </a>
</span>
<span>|</span>
<span>
<a href="javascript:void(0);">PRIVACY</a>
</span>
</div> 
</div>